<h1>Добавить тест</h1>
<form action="/addTest" method="POST">
 <div class="input-field">
        <input id="name" name="name" type="text" class="validate" required>
        <label for="name">Тема теста</label>
        <span class="helper-text" data-error="Введите название темы"></span>
    </div>
    <div class="input-field">
        <input id="link" name="link" type="text" class="validate" required>
        <label for="link">Ссылка на тест</label>
        <span class="helper-text" data-error="Вставьте ссылку"></span>
    </div>
      <input type="hidden" name="_csrf" value="{{csrf}}">
    <button class="btn btn-primary" style="margin-bottom: 70px;">Добавить тест</button>
</form>