<div style="" class="main_page">
    <div class="main_page_buttons">
        <form action="/tests">
            <div><button class="btn a">Пройдем тест</button></div>
        </form>
        <form action="/courses">
            <button class="btn b">Прочитаем лекцию</button>
        </form>
    </div>
</div>


